html {
      font-size: 62.5%;
}

body {
      font-family: "Lato", sans-serif;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      box-sizing: border-box;
      letter-spacing: 1.5px;
  }

  .main-heading {
      background-color: #2f89fc;
      color: white;    
      margin-top: 0;
      margin-bottom: 0;
      padding: 20px 20px;
  }

  .sale-overview {
      background-image: linear-gradient(to right bottom,  #5f71c0ef,#5f71c083), url(../img/rawpixel-632458-unsplash.jpg);
      height: 95vh;
      margin-top: 0;
      position: relative;
  } 

  h2 {
      display: inline-block;
      margin-top: 0;
      position: absolute;
      top:10%;
      left: 45%;
  }


  table#storeTable {
      border-spacing: 0;
      position: absolute;
      top: 24%;
      left: 15%;
  }

  tr:last-child th:last-child {
      background-color: rgba(128, 0, 128, 0.65);
      border-bottom-style: none;
  }

  tr:last-child {
      background-color: #30e3cba8;
  }
  tr {
      background-color: #1cb4c87c;
  }
  tr:hover {
      transform: scale(1.1);
  }

  th:last-child {
      background-color: #30e3cba8;
  }

  th {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-color: #d9d9d94b;

      padding: 10px 15px;
  }

  td {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-color: #d9d9d94b;
      text-align: center;
  }


