html {
      font-size: 62.5%;
}

body {
      font-family: "Lato", sans-serif;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      box-sizing: border-box;
      letter-spacing: 1.5px;
  }

  .main-heading {
      background-color: #2f89fc;
      color: white;    
      margin-top: 0;
      margin-bottom: 0;
      padding: 20px 20px;
  }

  .sale-overview {
      background-image:  url(../img/rawpixel-632458-unsplash.jpg);
      height: 95vh;
      margin-top: 0;
      position: relative;
  } 

  h2 {
      color: #000;
      display: inline-block;
      margin-top: 0;
      position: absolute;
      top:10%;
      left: 42%;
  }


  table#storeTable {
      border-spacing: 0;
      position: absolute;
      top: 24%;
      left: 10%
  }

  tr:hover {
      color:grey;
      background-color: yellow;
      transform: scale(1.05);
  }

  tr:last-child th:last-child {
      background-color: rgba(128, 0, 128);
      border-bottom-style: none;
  }

  tr:last-child {
      background-color: #30e3cb;
    }
  
  tr:last-child:hover {
      background-color: yellow;
  }

  tr > th:hover {
    color: white;
    background-color: purple;
  }

  tr {
      background-color: #1cb4c8;
 }
    
  th:last-child {
      background-color: #30e3cb;
      border-bottom-color: #30e3cb;
  }

  th {
      border-bottom-style: none;
      border-bottom-width: 2px;
      border-color: none;
      padding: 10px 15px;
  }


  td {
      border-bottom-width: 2px;
      border-color: #1cb4c8;
      text-align: center;
  }

  td:hover {
      color:white;
       background-color: purple;
  }

  /* FORM */

  input {
      background-color: beige;
      border-style: none;
      border-bottom-style: solid;
      
      border-bottom-color: #666;
  }

